    /* 
    
    .pink #ed1165

    .orange #fdb813;
    
    .blue #1abfdf;

    */
    /* @font-face kit by Fonts2u (http://www.fonts2u.com) */
    
    @font-face {
        font-family: 'GESSTwoMedium-Medium';
        src: url('../fonts/GESSTwoMedium-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/GESSTwoMedium-Medium.otf') format('opentype'), url('../fonts/GESSTwoMedium-Medium.woff') format('woff'), url('../fonts/GESSTwoMedium-Medium.ttf') format('truetype'), url('../fonts/GESSTwoMedium-Medium.svg#GESSTwoMedium-Medium') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'GESSTwoLight-Light';
        src: url('../fonts/GESSTwoLight-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GESSTwoLight-Light.otf') format('opentype'), url('../fonts/GESSTwoLight-Light.woff') format('woff'), url('../fonts/GESSTwoLight-Light.ttf') format('truetype'), url('../fonts/GESSTwoLight-Light.svg#GESSTwoLight-Light') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'GESSTwoBold-Bold';
        src: url('../fonts/GESSTwoBold-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GESSTwoBold-Bold.otf') format('opentype'), url('../fonts/GESSTwoBold-Bold.woff') format('woff'), url('../fonts/GESSTwoBold-Bold.ttf') format('truetype'), url('../fonts/GESSTwoBold-Bold.svg#GESSTwoBold-Bold') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    body {
        background: #fafafa;
        font-family: "GESSTwoMedium-Medium";
    }
    
    h1,
    .h1 {
        color: #ff6600;
        font-size: 36px;
        font-family: "GESSTwoBold-Bold";
    }
    
    h2,
    .h2 {
        color: #ed1165;
        font-size: 36px;
        font-family: "GESSTwoLight-Light";
    }
    
    h3,
    .h3 {
        color: #002d41;
        font-size: 32px;
        font-family: "GESSTwoBold-Bold";
    }
    
    h4,
    .h4 {
        color: #ff6600;
        font-size: 30px;
        font-family: "GESSTwoLight-Light";
    }
    
    h5,
    .h5 {
        color: #ed1165;
        font-size: 1.375em;
        font-family: "GESSTwoBold-Bold";
    }
    
    h6,
    .h6 {
        color: #333333;
        font-size: 20px;
        font-family: "GESSTwoLight-Light";
    }
    
    .table {
        font-family: Tahoma;
    }
    
    .table-bordered,
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
        border: 2px solid white;
    }
    
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #ebebeb;
    }
    
    .table-striped > tbody > tr:nth-of-type(even) {
        background-color: #f4f4f4;
    }
    
    th {
        font-family: Tahoma;
        font-size: 13px;
        color: #333333;
    }
    
    .table-header th {
        font-family: "GESSTwoMedium-Medium";
        color: white;
        font-size: 14px;
        background: #1abfdf;
    }
    
    .arial {
        font-family: Arial;
    }
    
    .m-t-0 {
        margin-top: 0;
    }
    
    .m-b-0 {
        margin-bottom: 0;
    }
    
    .p-t-0 {
        padding-top: 0;
    }
    
    .p-b-0 {
        padding-bottom: 0;
    }
    
    .form-control {
        border-radius: 0;
        border: 1px solid #b5b5b5;
        -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, .5);
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        border-radius: 0;
        background: #f0f0f0;
        font-size: 12px;
        color: #333333;
        font-family: Tahoma;
        height: 28px;
    }
    
    .input-group .form-control:first-child,
    .input-group-addon:first-child,
    .input-group-btn:first-child>.btn,
    .input-group-btn:first-child>.btn-group>.btn,
    .input-group-btn:first-child>.dropdown-toggle,
    .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),
    .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
        border-radius: 0;
    }
    
    .input-group-btn:last-child > .btn,
    .input-group-btn:last-child > .btn-group {
        background: #f0f0f0;
        border: 1px solid #b5b5b5;
        border-right: 0;
        border-radius: 0;
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        height: 28px;
        font-size: 12px;
    }
    
    .input-group-btn:last-child > .btn:focus,
    .input-group-btn:last-child > .btn-group:focus {
        outline: none;
    }
    
    .breadcrumb {
        padding: 15px 0 15px 15px;
        background: none;
        font-size: 13px;
    }
    
    .breadcrumb a {
        color: #002d41;
        font-size: 13px;
    }
    
    .breadcrumb > li + li:before {
        /*content: "/\00a0";*/
        content: '>';
        color: #002d41;
    }
    
    blockquote {
        font-family: Tahoma;
        padding: 0;
        padding: 0 20px;
        border: none;
        font-size: 14px;
    }
    
    blockquote:before {
        content: '"';
        font-family: "GESSTwoLight-Light";
        font-size: 24px;
        position: absolute;
        margin-right: -15px;
    }
    
    blockquote footer,
    blockquote small,
    blockquote .small {
        font-family: "GESSTwoLight-Light";
        color: #005678;
        font-size: 15px;
    }
    
    blockquote footer img {
        border-radius: 50%;
        width: 40px;
        margin-left: 11px;
        margin-right: -15px;
        border-radius: 1px solid #ddd;
    }
    
    blockquote footer:before,
    blockquote small:before,
    blockquote .small:before {
        content: ''
    }
    
    .carousel-indicators.carousel-thumbnails li {
        width: 107px;
        height: auto;
        text-indent: 0;
        background: none;
        border-radius: 0;
    }
    
    .carousel-indicators.carousel-thumbnails li img {
        max-width: 100%;
        height: auto;
    }
    
    .alert-warning {
        color: black;
        background-color: #fed54b;
        border-color: #dddddd;
    }
    
    .alert-warning .alert-link {
        color: #0079bf;
        font-family: Tahoma;
        font-weight: normal;
    }
    
    .alert-danger h6 {
        color: inherit;
        margin-top: 0;
    }
    
    .alert-danger {
        color: #fed54b;
        background-color: #d80000;
        border-color: #d80000;
    }
    
    .alert-danger .alert-link {
        color: inherit;
        font-weight: normal;
    }
    
    .alert-danger span {
        color: white;
        font-size: 18px;
    }
    
    .nav-pills > li > a {
        color: #0079bf;
    }
    
    .nav > li > a:hover,
    .nav > li > a:focus,
    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
        background: none;
    }
    
    .nav .glyphicon {
        margin-left: 7px;
        vertical-align: middle;
    }
    
    .pagination > li > a,
    .pagination > li > span {
        color: black;
        background: #d6d6d6;
        border-radius: 50%;
        padding: 5px 7px;
        margin: 0 7px;
        font-family: Tahmoa;
        line-height: 1;
        font-size: 13px;
    }
    
    .pagination > li > a.first-links {
        border: none;
        background: none;
        border-radius: 0;
        margin: 0;
    }
    
    .pagination > li > a > .glyphicon + .glyphicon {
        margin-right: -12px;
    }
    
    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        background: #fdb813;
        border: 1px solid #fdb813;
        color: black;
    }
    
    hr {
        border-top: 1px solid #b5b5b5;
    }
    
    .main-btn {
        background: url('../images/btnbg.jpg') center center;
        text-align: center;
        padding: 10px 15px;
        color: #fff;
        font-size: 16px;
        font-family: "GESSTwoMedium-Medium";
        border: 0;
        display: inline-block;
        vertical-align: middle;
        margin: 10px 0 0 15px;
    }
    
    .main-btn:hover,
    .main-btn:focus {
        background: #31c6e2;
        color: #fff;
        text-decoration: none;
        outline: none;
    }
    
    .main-btn img {
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
        border-radius: 3px;
    }
    
    .more-link {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
    }
    
    .more-link a {
        font-family: Tahoma;
        font-size: 14px;
        color: #0079bf;
    }
    
    .more-link .glyphicon {
        font-size: 10px;
        color: #fff;
        background-color: #1182c3;
        padding: 3px;
        border-radius: 50%;
        margin-right: 10px;
    }
    
    .follow-sign {
        width: 39px;
        height: 74px;
        background: url('../images/follow.png') no-repeat top center;
        display: block;
        font: 0/0 a;
        z-index: 99;
        position: absolute;
        left: 21px;
        top: 11px;
    }
    
    .follow-sign.followed {
        background: url('../images/unfollow.png') no-repeat top center;
    }
    
    .main-header {
        height: 127px;
        position: relative;
        z-index: 1001;
        font-size: 14px;
        font-family: "GESSTwoLight-Light";
        background: #fff url('../images/headerbg.png') no-repeat bottom center;
        -webkit-transition: all .5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
        -moz-transition: all .5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
        -ms-transition: all .5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
        -o-transition: all .5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
        transition: all .5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    }
    
    .main-header h6 {
        font-size: inherit;
    }
    
    .main-header.expanded {
        height: 466px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    
    .dimmed {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #000;
        opacity: 0.8;
        z-index: 1000;
        display: none;
    }
    
    .main-header .zina {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background: url('../images/zina.png') no-repeat top left;
        height: 16px;
    }
    
    .topnav {
        text-align: left;
    }
    
    .topnav a {
        font-size: 14px;
        font-family: "GESSTwoLight-Light";
        color: #000000;
        margin-top: 10px;
        display: inline-block;
    }
    
    .topnav li:before {
        content: '|';
        margin-left: 10px;
        display: inline-block;
    }
    
    .topnav li:first-child:before {
        content: '';
    }
    
    .header-columns {
        display: none;
        margin-bottom: 50px;
    }
    
    .list-img {
        background: #fdb813;
        font-size: 24px;
        border-radius: 50%;
        padding: 3px;
        text-align: center;
        width: 45px;
        height: 45px;
        line-height: 41px;
        color: black;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        margin-bottom: 15px;
    }
    
    .list-img.fav-store {
        background: #ff0066;
        color: #fff;
    }
    
    .list-img + h6 {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        font-family: "GESSTwoBold-Bold";
        margin-bottom: 15px;
    }
    
    .list-img + h6.username {
        max-width: 107px;
    }
    
    .user-list li:before {
        vertical-align: middle;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding-left: 10px;
        content: "\e257";
        color: #006699;
        font-size: 10px;
    }
    
    .chat-list p {
        color: #999999;
        font-family: Arial;
    }
    
    .main-header .media-object {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    
    .main-header .badge {
        font-size: 11px;
        padding: 4px 10px;
        margin-right: 10px;
    }
    
    .main-header .badge.inshiping {
        background: #339900;
    }
    
    .main-header .badge.pendinginfo {
        background: #ff6633;
    }
    
    .main-header .badge.notshipped {
        background: #ffcc33;
        color: black;
    }
    
    .main-header .price {
        color: #ff0066;
    }
    
    .main-header .actions-list .glyphicon {
        color: #005375;
        font-size: 19px;
        vertical-align: middle;
        margin: 4px;
    }
    
    .main-header .alerts-list li {
        padding: 13px 0;
        border-bottom: 1px dashed #fdb813;
    }
    
    .main-header .alerts-list li:first-child {
        padding-top: 0;
    }
    
    .search-form {
        border: 2px solid #ff7e00;
        box-shadow: 0 0 10px #999;
        background-color: #fff;
    }
    
    .search-form input[type=text] {
        border: none;
        outline: none;
        padding: 5px;
        width: 342px;
        border-left: 1px dashed #a3a3a3;
        margin: 10px;
        margin-left: 0;
    }
    
    .search-form .submit {
        border: none;
        background: #fdb813;
        padding: 7px 10px;
        vertical-align: middle;
        font-size: 30px;
        text-align: center;
        line-height: 1;
        outline: none;
    }
    
    .search-form .dropdown {
        display: inline-block;
        vertical-align: middle;
    }
    
    .search-form .dropdown-menu {
        left: auto;
        right: 0;
        text-align: right;
    }
    
    .search-form .dropdown .btn {
        border: 0;
        padding: 14px 12px;
        outline: none;
    }
    
    .search-form .dropdown .btn:hover {
        text-decoration: none;
    }
    
    .list-notifications {
        margin-top: 10px;
    }
    
    .list-notifications .glyphicon {
        font-size: 25px;
        color: #fdb813;
        vertical-align: middle;
        margin: 0 3px;
    }
    
    .list-notifications li {
        position: relative;
    }
    
    .list-notifications .user {
        margin-left: 12px;
    }
    
    .list-notifications .user .list-img {
        margin: 0;
    }
    
    .list-notifications .user .glyphicon {
        color: white;
        background: orange;
        padding: 5px;
        border-radius: 50%;
        font-size: 8px;
    }
    
    .list-notifications .badge {
        background: #1483b3;
        color: #fff;
        font-family: Tahoma;
        padding: 5px;
        position: absolute;
        top: -10px;
        left: 0;
    }
    
    .main-header .header-toggle.opened {
        background: url('../images/header-close.png') no-repeat center center;
    }
    
    .mainnav {
        background: #002d41;
        padding-top: 10px;
        border-bottom: 1px solid #3a5c6c;
        position: relative;
        top: 0;
        z-index: 1001;
        margin-bottom: 20px;
        -webkit-transition: top .5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
        -moz-transition: top .5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
        -ms-transition: top .5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
        -o-transition: top .5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
        transition: top .5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    }
    
    .mainnav.minified {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    }
    
    .main-header.expanded + .mainnav {
        position: fixed;
        left: 0;
        right: 0;
        top: 465px;
    }
    
    .mainnav .logo {
        position: absolute;
        bottom: -12px;
    }
    
    .mainnav .logo img {
        width: 100%;
        -webkit-transition: width .2s ease;
        -moz-transition: width .2s ease;
        -ms-transition: width .2s ease;
        -o-transition: width .2s ease;
        transition: width .2s ease;
    }
    
    .mainnav.minified .logo img {
        width: 83px;
    }
    
    .mainnav .header-toggle {
        width: 29px;
        height: 29px;
        position: absolute;
        right: 50%;
        top: 100%;
        margin-right: -15px;
        margin-top: -15px;
        background: url('../images/header-open.png') no-repeat center center;
    }
    
    .mainnav .timeline-nav {
        color: #fdb813;
    }
    
    .mainnav .timeline-nav .sorting {
        font-size: 12px;
        font-family: "GESSTwoMedium-Medium";
        display: inline-block;
        margin-right: 10px;
    }
    
    .mainnav ul {
        padding: 0;
        margin-right: 20px;
    }
    
    .mainnav > ul > li {
        padding: 0 9px;
    }
    
    .mainnav ul > li a {
        font-size: 19px;
        font-family: "GESSTwoBold-Bold";
        color: #fff;
        text-align: right;
    }
    
    .mainnav ul > li a:hover,
    .mainnav ul > li a:focus {
        text-decoration: none;
        color: white;
    }
    
    .mainnav ul > li .indicator {
        font-size: 12px;
        color: #fdb813;
        display: inline-block;
        vertical-align: middle;
        margin-right: 3px;
    }
    
    .mainnav ul > li .blog {
        border-right: 1px dotted white;
        padding-right: 20px;
    }
    
    .mainnav ul > li .rss {
        font: 0/0 a;
        background: url(../images/rss.jpg) no-repeat top right;
        width: 31px;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
    }
    
    .mainnav .dropdown-menu {
        top: 120%;
        border-radius: 0 0 5px 5px;
        left: auto;
        right: 0;
        background-color: #1abfdf;
    }
    
    .mainnav .dropdown-menu a {
        font-size: 14px;
        font-family: "GESSTwoMedium-Medium";
        padding: 8px 10px;
    }
    
    .mainnav .dropdown-menu a:hover {
        background: #002d41;
    }
    
    .infobox {
        border: 1px solid #72abad;
        background: #fff;
        color: #002d41;
        padding: 10px;
        margin-bottom: 10px;
        /*margin: 30px 0;*/
    }
    
    .infobox p {
        margin-bottom: 0;
    }
    
    .sidenav {
        margin-bottom: 90px;
    }
    
    .sidenav > li {
        border-top: 1px dashed #fdb813;
        position: relative;
    }
    
    .sidenav > li a {
        color: #003348;
        font-size: 16px;
        font-family: "GESSTwoLight-Light";
    }
    
    .sidenav > li + li {
        margin-top: 0;
    }
    
    .sidenav > li span,
    .sidenav > li b {
        position: absolute;
        left: 15px;
        top: 17px;
        font-size: 8px;
        color: #002d41;
    }
    
    .sidenav > li:first-child {
        border-top: 0;
    }
    
    .sidebar-adbox {
        margin-bottom: 30px;
    }
    
    .mainslider .carousel-control {
        height: auto;
        top: 50%;
        bottom: auto;
        margin-top: -30px;
        width: auto;
    }
    
    .mainslider .carousel-control.left,
    .mainslider .carousel-control.right {
        padding: 7px 10px 3px;
        background: #000;
        background: rgba(0, 0, 0, 0.7);
    }
    
    .mainslider .carousel-control.left {
        left: 20px;
        background: rgba(0, 0, 0, 0.7);
    }
    
    .mainslider .carousel-control.right {
        right: 20px;
    }
    
    .mainslider .carousel-indicators {
        position: static;
        width: 100%;
        margin-top: 10px;
        padding-right: 0;
        margin-right: 0;
    }
    
    .mainslider .carousel-indicators .active {
        background: #fdb813;
        border: 1px solid #fdb813;
    }
    
    .mainslider .carousel-indicators li {
        background: #bfbfbf;
        border: 1px solid #bfbfbf;
    }
    
    .listing-header * {
        display: inline-block;
    }
    
    .listing-header h3 {
        margin-top: 10px;
    }
    
    .listing-header h3 span {
        font-size: 21px;
        color: #1abfdf;
        margin-left: 15px;
    }
    
    .avatars {
        margin: 0 70px 0 10px;
    }
    
    .avatars img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: inline-block;
        margin-right: -20px;
        position: relative;
        border: 1px solid #c2c2c2;
        padding: 1px;
    }
    
    .online-users {
        font-size: 16px;
        color: #000;
        font-family: "GESSTwoLight-Light";
    }
    
    .online-users strong {
        font-family: Tahoma;
    }
    
    .sub-categories {
        font-size: 16px;
        font-family: "GESSTwoLight-Light";
        color: #000;
        margin: 20px 0 10px;
    }
    
    .sub-categories a {
        color: #0079bf;
        display: inline-block;
        /*margin:0 5px;*/
    }
    
    .sub-categories a:before {
        content: '/';
        display: inline-block;
        padding: 0 7px;
    }
    
    .sub-categories a:first-child:before {
        content: ''
    }
    /* product card */
    
    .product-card {
        height: 343px;
        position: relative;
        margin-bottom: 10px;
    }
    
    .product-card .front,
    .product-card .back {
        background: url('../images/productbg.png') center center no-repeat;
        background-size: cover;
        padding: 10px 0;
    }
    
    .product-card .follow-sign {
        position: absolute;
        left: 21px;
        top: 11px;
    }
    
    .product-card .product-details {
        background: #fff;
        border: 2px dashed #ff6600;
        height: 265px;
        margin-right: 10px;
        margin-top: 25px;
        border-radius: 20px;
        padding: 25px 0;
    }
    
    .date-time {
        font-family: Tahoma;
        font-size: 12px;
        color: #ed1165;
    }
    
    .orange .date-time {
        color: #ff6600;
    }
    
    .blue .date-time {
        color: #0079bf;
    }
    
    .date-time span {
        display: inline-block;
        margin-left: 10px;
    }
    
    p.details {
        font-family: Tahoma;
    }
    
    .product-card h6,
    .shop-card h6,
    .caption h6 {
        font-size: 1.375em;
        line-height: 1.3em;
    }
    
    .product-card .price,
    .shop-card .price,
    .caption .price {
        font-size: 1.750em;
        font-family: "GESSTwoBold-Bold";
        color: #ed1165;
        margin-bottom: 10px;
        line-height: 1;
    }
    
    .product-card .price span,
    .shop-card .price span,
    .caption .price span {
        font-size: 32px;
        font-family: "Arial";
        font-weight: bold;
    }
    
    .product-card .main-btn {
        width: 235px;
        position: absolute;
        bottom: -55px;
        right: -100px;
        font-size: 1.250em;
    }
    
    .product-card .store-details .title {
        color: #002d41;
    }
    
    .product-card .store-details .title a:hover {
        text-decoration: none;
        color: #1abfdf;
    }
    
    .product-card .store-img img {
        width: 100px;
        height: 100px;
        margin-top: 15px;
        margin-right: 20px;
        border: 6px solid white;
        box-shadow: 0px 0px 2px #6B6B6B;
    }
    
    .code {
        background: black;
        color: #fff;
        margin: 0 auto;
        padding: 2px 3px 2px 10px;
        border-radius: 20px;
        font-family: Tahoma;
        display: inline-block;
    }
    
    .product-card .store-details .code {
        width: 70%;
        padding: 1px;
        background: #fdb813;
    }
    
    .product-card .back {
        padding: 25px
    }
    
    .product-card .back .store-details .code {
        color: #006666;
        background: none;
        width: auto;
    }
    
    .product-card .back .store-img img {
        margin: 0;
    }
    
    .product-card .store-details .badges {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .badges .vault {
        background-color: #e2e2e2;
        padding: 10px;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        text-align: center;
        line-height: 1em;
    }
    
    .badges.big .pie-wrapper {
        font-size: 55px;
    }
    
    .badges.big .vault {
        width: 55px;
        height: 55px;
    }
    
    .badges .vault img {
        max-width: 100%;
    }
    
    .badges .vault.black {
        background: black;
    }
    
    .badges .vault.black .count {
        background-color: white;
        color: black;
    }
    
    .badges .count {
        background-color: #fdb813;
        color: black;
        position: absolute;
        right: -10px;
        top: -10px;
        font-family: Tahoma;
        display: inline-block;
        border-radius: 50%;
        padding: 5px;
    }
    
    .product-card .store-details .actions {
        color: #0079bf;
    }
    
    .product-card .store-details .actions a:hover {
        text-decoration: none;
    }
    
    .product-card .store-details .actions * {
        padding: 0;
    }
    
    .product-card .store-details .actions span {
        display: block;
        margin-bottom: 10px;
    }
    /* footer */
    
    .footer {
        background: #333333;
        padding: 10px;
        margin-top: 20px;
        color: white;
    }
    
    .footer ul {
        padding: 0;
        list-style: none;
    }
    
    .footer h6 {
        font-size: 14px;
        color: #fdb813;
        font-family: "GESSTwoLight-Light";
    }
    
    .footer a {
        color: white;
    }
    
    .footerlogo {
        color: #fff;
        text-align: center;
    }
    
    .footerlogo img {
        margin: 14px 0;
    }
    /* login page */
    
    .login-header {
        color: #002d41;
        margin: 50px 0;
    }
    
    .login-content {
        border-right: 3px solid #d4d4d4;
        padding-right: 20px;
        min-height: 460px;
    }
    
    #login-pane .form-control {
        background: #fff;
    }
    
    .nav-login > li h2 {
        color: #777;
    }
    
    .nav-login > li.active h2 {
        color: #ed1165;
    }
    
    .nav-login > li > a {
        padding: 10px 0;
        padding-left: 30px;
        font-family: "GESSTwoLight-Light";
        font-size: 14px;
        color: #777;
    }
    
    .nav-login > li.active > a,
    .nav-login > li.active > a:hover,
    .nav-login > li.active > a:focus {
        color: #337ab7;
    }
    
    .nav-login > li.active > a,
    .nav-login > li.active > a:hover,
    .nav-login > li.active > a:focus {
        background: transparent url('../images/login-arrow.png') no-repeat center left;
    }
    
    .dotted {
        border-top: 1px dashed #fdb813;
    }
    
    .has-center-text {
        position: relative;
        margin: 40px 0 25px;
    }
    
    .has-center-text hr {
        margin: 0;
    }
    
    .center-circle-text {
        background: #ed1165;
        color: #fff;
        border-radius: 50%;
        padding: 10px 15px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -21px;
    }
    
    .nav-login .pull-right .img {
        width: 77px;
        height: 77px;
        display: inline-block;
    }
    
    .login-step.active .pull-right .img {
        background: url('../images/step-login.png') no-repeat center center;
    }
    
    .login-step .pull-right .img {
        background: url('../images/step-login-disabled.png') no-repeat center center;
    }
    
    .info-step.active .pull-right .img {
        background: url('../images/step-info.png') no-repeat center center;
    }
    
    .info-step .pull-right .img {
        background: url('../images/step-info-disabled.png') no-repeat center center;
    }
    
    .store-step.active .pull-right .img {
        background: url('../images/step-store.png') no-repeat center center;
    }
    
    .store-step .pull-right .img {
        background: url('../images/step-store-disabled.png') no-repeat center center;
    }
    
    .pane-with-shadow {
        background-color: #fff;
        box-shadow: 0 0 3px #dddddd;
        border: 1px solid #dddddd;
    }
    
    .form-inner-header {
        font-family: "GESSTwoLight-Light";
        font-size: 20px;
        border-bottom: 1px solid #b5b5b5;
        color: #ed1165;
        margin: 20px 0;
        padding-bottom: 15px;
    }
    
    .pane-with-form label {
        font-size: 12px;
        font-family: "GESSTwoBold-Bold";
    }
    
    .required {
        color: red;
        font-size: 14px;
        vertical-align: middle;
        margin-left: 5px;
    }
    
    .padding {
        padding: 15px;
    }
    
    .label-light label {
        font-family: "GESSTwoLight-Light";
        font-size: 13px;
    }
    
    .glyphicon-remove-sign {
        color: #d80000;
        font-size: 16px;
        vertical-align: middle;
        margin-left: 5px;
    }
    
    .nav-tabs-profile {
        margin: 25px -15px;
        border-bottom: 0;
    }
    
    .nav-tabs > li > a {
        font-size: 14px;
        font-family: "GESSTwoLight-Light";
        border: none;
    }
    
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus {
        background: none;
        color: #d80000;
    }
    
    .nav-tabs-profile > li.active > a,
    .nav-tabs-profile > li.active > a:hover,
    .nav-tabs-profile > li.active > a:focus {
        border: none;
        border-bottom: 4px solid #d80000;
        background: none;
        color: #d80000;
    }
    
    .store-profile-top {
        background: #ededed;
        padding: 15px;
    }
    
    .store-profile-top .form-group {
        margin-bottom: 0;
    }
    
    .store-name-input {
        margin-bottom: 25px;
    }
    
    .store-name-input .form-control {
        border: none;
        box-shadow: none;
        background: transparent;
        border-bottom: 1px solid #000;
        font-size: 29px;
        height: auto;
        font-family: "GESSTwoBold-Bold";
    }
    
    .store-name-input .input-group-addon {
        padding: 0;
        border: 0;
        border-bottom: 1px solid #000;
        border-radius: 0;
    }
    
    .store-name-input .input-group-addon button {
        background: transparent;
        border: none;
        padding-left: 0;
        padding-right: 0;
    }
    
    .no-focus:focus,
    .no-focus:active {
        box-shadow: none;
        border-color: inherit;
        outline: none;
    }
    
    .custom-checkbox {
        padding-left: 10px;
        margin-left: -15px;
    }
    
    .custom-checkbox input[type=radio] {
        display: none;
    }
    
    .custom-checkbox input[type=radio] + label {
        height: 104px;
        width: 87px;
        display: block;
        position: relative;
        transition: all 0.4s;
        border-radius: 5px;
        margin: 0;
    }
    
    .custom-checkbox input[type=radio]:checked + label:after {
        content: '\2714';
        display: block;
        height: 1em;
        width: 1em;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        color: white;
        background: #339900;
        padding: 12px;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        line-height: 2px;
        text-indent: -7px;
        border-radius: 5px;
        font-family: "Arial"
    }
    
    .custom-file-input input[type="file"] {
        display: none;
    }
    
    .custom-file-input label {
        cursor: pointer;
        height: 107px;
        position: relative;
    }
    
    .custom-file-input label img {
        max-height: 100%;
    }
    
    .custom-file-input label:after {
        content: "\e046";
        font-family: "Glyphicons Halflings";
        height: 1em;
        width: 1em;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        color: black;
        font-size: 30px;
        line-height: 1;
        display: none;
    }
    
    .custom-file-input label:hover:after {
        display: block;
    }
    
    .store-header-bg {
        background: url('../images/store_banner_pink.jpg') no-repeat top right;
        height: 170px;
        position: relative;
    }
    
    .orange .store-header-bg {
        background: url('../images/store_banner_orange.jpg') no-repeat top right;
        max-height: 170px;
    }
    
    .blue .store-header-bg {
        background: url('../images/store_banner_blue.jpg') no-repeat top right;
        max-height: 170px;
    }
    
    .store-header-bg .media {
        position: relative;
        top: 25px;
    }
    
    .store-header-bg .media h3 {
        margin-top: 10px;
    }
    
    .store-header-links {
        background: #f8e9ee;
        border-bottom: 1px solid #ed1165;
        min-height: 40px;
        padding-right: 170px;
    }
    
    .orange .store-header-links {
        background: #f9f4e5;
        border-bottom: 1px solid #fdb813;
    }
    
    .blue .store-header-links {
        background: #ecf5f7;
        border-bottom: 1px solid #1abfdf;
    }
    
    .glyphicon-link {
        background-color: #fff;
        color: black;
        border-radius: 50%;
        padding: 4px;
        font-size: 12px;
        margin-left: 5px;
    }
    
    .store-header-bg .badges {
        margin: 40px 0;
    }
    
    .store-header-bg .badges .count {
        background-color: white;
        color: black;
    }
    
    .user-profile {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .user-profile h6 {
        font-size: 18px;
        font-family: "GESSTwoMedium-Medium";
    }
    
    .user-profile h5 {
        font-size: 24px;
        color: inherit;
        font-family: inherit;
    }
    
    .profile-img {
        width: 100px;
    }
    
    .user-profile .alert {
        padding: 7px;
        margin-bottom: 0;
        margin-top: 25px;
    }
    
    .user-profile a {
        font-family: Tahoma;
    }
    
    .has-points {
        margin-top: 35px;
        margin-right: -30px;
        border-right: 1px solid #b5b5b5;
    }
    
    .points {
        color: #ed1165;
        font-size: 18px;
        margin-left: 5px;
    }
    
    .product-box {
        background: #fff url('../images/zina.png') no-repeat -30px -3px;
        padding: 20px 10px;
        border-top: 1px solid #ed1165;
        border-bottom: 1px solid #ed1165;
        box-shadow: 0 0 3px #adadad;
        margin-bottom: 25px;
    }
    
    .orange .product-box {
        border-top: 1px solid #fdb813;
        border-bottom: 1px solid #fdb813;
    }
    
    .blue .product-box {
        border-top: 1px solid #1abfdf;
        border-bottom: 1px solid #1abfdf;
    }
    
    .product-box-head {
        margin-bottom: 20px;
        margin-top: 0;
    }
    
    .product-box-content {
        background: #f5f5f5;
        margin: 0 -10px -20px;
        padding: 10px 20px 20px;
    }
    
    .product-box-link {
        margin-top: 10px;
        display: block;
        font-family: "GESSTwoLight-Light";
    }
    
    .product-box-remove-link {
        color: inherit;
        text-align: center;
        display: inline-block;
        margin-bottom: 25px;
        font-size: 18px;
    }
    
    .product-box-remove-link:hover {
        text-decoration: none;
    }
    
    .filter-pane {
        margin-bottom: 50px;
    }
    
    .btn-profile-upload {
        width: 90px;
        height: 90px;
        line-height: 45px;
        text-align: center;
        padding-top: 25px;
        font-family: "GESSTwoLight-Light";
        float: right;
        margin: 3px 5px;
        float: right;
        border: 1px solid #337ab7;
    }
    
    .btn-profile-upload i {
        display: block;
    }
    
    .file-preview {
        padding: 0;
        border: none;
        border-radius: 0;
        margin: 0;
        width: auto;
    }
    
    .file-preview-frame {
        padding: 0;
        box-shadow: none;
        float: none;
        display: inline-block;
        vertical-align: middle;
        border: none;
        margin: 3px;
    }
    
    .file-preview-frame:not(.file-preview-error):hover {
        box-shadow: none;
    }
    
    .file-preview-frame,
    .file-preview-image,
    .file-preview-other {
        border: 1px solid #ddd;
        height: 90px;
        width: 90px;
    }
    
    .image-preview {
        height: 360px;
        width: 100%;
        background: #dddddd;
        display: none;
    }
    
    .preview-buttons {
        margin-top: 7px;
        display: none;
    }
    
    .preview-buttons .btn-link {
        padding: 7px;
    }
    
    .store-box {
        background: #fff url('../images/zina.png') no-repeat -30px -3px;
        padding: 20px 10px;
        box-shadow: 0 0 3px #adadad;
    }
    
    .product-box .remove-store-link {
        border-right: 1px solid #ddd;
        padding-right: 40px;
        height: 100px;
        padding-top: 40px;
    }
    
    .product-box .badges {
        margin-top: 30px;
    }
    
    .product-box .profile-img {
        width: 88px;
    }
    
    .invitaion-box {
        /*border: 2px dashed #ff6600;*/
        border: 2px dashed #80df11;
        border-radius: 10px;
        padding: 7px;
        margin: 30px 0;
    }
    
    .invitaion-box .media {
        background: #e6f6ff;
        border-radius: 10px;
        border: 1px solid #eee;
        padding: 20px;
    }
    
    .invitaion-box .media h6 {
        color: #169fff;
        font-size: 16px;
        margin-top: 0;
        font-family: "GESSTwoBold-Bold";
    }
    
    .invitaion-box .media p {
        font-size: 12px;
        font-family: "GESSTwoLight-Light";
    }
    
    .create-store-btn {
        width: 270px;
        font-size: 18px;
        max-width: 100%;
    }
    
    .actions .actions-link {
        width: 90px;
        float: right;
    }
    
    .actions .actions-link .glyphicon,
    .flip-card-link .glyphicon {
        margin-left: 5px;
    }
    
    .product-card .info-column {
        min-height: 80px;
        float: right;
        padding: 0 15px;
        margin-bottom: 17px;
        border-right: 1px solid #b5b5b5;
    }
    
    .pie-with-info {
        display: inline-block;
        text-align: center;
    }
    
    .pie-with-info > span {
        display: block;
        margin-top: 7px;
        font-family: "Tahoma";
    }
    
    .green-text {
        color: #006666;
    }
    
    .has-info-columns {
        margin-bottom: 30px;
    }
    
    .flip-card-link {
        float: left;
    }
    
    .flip-card-link a {
        color: red;
    }
    /* shop */
    
    .shop-filter-header {
        font-size: 15px;
        margin-bottom: 1em;
        font-family: "GESSTwoMedium-Medium";
    }
    
    .normal-font {
        font-family: Arial;
    }
    
    .sidebar-filters label {
        color: #114054;
    }
    
    .filter-colors {
        width: 150px;
    }
    
    .filter-colors span {
        width: 15px;
        height: 15px;
        background: red;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid #ddd;
    }
    
    .filter-colors .green {
        background: #00cc00;
    }
    
    .filter-colors .yello {
        background: #ffff00;
    }
    
    .filter-colors .orange {
        background: #fb940b;
    }
    
    .filter-colors .red {
        background: #cc0000;
    }
    
    .red {
        color: #cc0000;
    }
    
    .filter-colors .pink {
        background: #ff98bf;
    }
    
    .filter-colors .mouve {
        background: #762ca7;
    }
    
    .filter-colors .blue {
        background: #0000ff;
    }
    
    .filter-colors .lightblue {
        background: #03c0c6;
    }
    
    .filter-colors .brown {
        background: #885418;
    }
    
    .filter-colors .black {
        background: #000000;
    }
    
    .filter-colors .white {
        background: #ffffff;
    }
    
    .filter-colors .gray {
        background: #999999;
    }
    
    .filters-wrapper {
        overflow-y: auto;
        max-height: 160px;
        overflow-x: hidden;
    }
    
    .help-tags {
        margin-top: 10px;
    }
    
    .help-tags .label-default {
        background: white;
        font-size: 14px;
        border: 1px solid #ddd;
        color: #0079bf;
        font-family: "GESSTwoLight-Light";
        margin: 5px 0;
        display: inline-block;
    }
    
    .help-tags .glyphicon {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        margin-right: 7px;
        cursor: pointer;
    }
    
    .shop-card {
        border-top: 1px solid #ed1165;
        border-bottom: 1px solid #ed1165;
        -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, .5);
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
        padding: 20px;
        margin-bottom: 30px;
        background: white;
    }
    
    .orange .shop-card {
        border-top: 1px solid #fdb813;
        border-bottom: 1px solid #fdb813;
    }
    
    .blue .shop-card {
        border-top: 1px solid #1abfdf;
        border-bottom: 1px solid #1abfdf;
    }
    
    .shop-card .main-btn {
        width: 100%;
    }
    
    .shop-card .media > .pull-right {
        padding-left: 20px;
    }
    
    .shop-card .date-time {
        margin-bottom: 10px;
    }
    
    .load-more {
        background: white;
        border: 1px solid #72abad;
        padding: 15px;
        text-align: center;
        font-family: "GESSTwoLight-Light";
        margin-bottom: 30px;
    }
    
    .load-more a {
        color: #1abfdf;
        display: block;
    }
    
    .load-more a:hover {
        text-decoration: none;
    }
    
    .related-stores {
        margin-top: 30px;
    }
    
    .related-stores h4 {
        margin-bottom: 30px;
    }
    
    .col-md-3 .product-box .pie-wrapper {
        font-size: 40px;
    }
    
    .col-md-3 .product-box .vault {
        width: 40px;
        height: 40px;
    }
    
    .col-md-3 .product-box .pie-wrapper img {
        max-width: 106%;
        margin: 2px auto;
    }
    
    .col-md-3 .product-box .count {
        font-size: 12px;
        right: auto;
        left: 0;
    }
    
    .col-md-3 .product-box .badges {
        margin-top: 15px;
    }
    
    .form-arrange {
        float: left;
        padding: 15px 15px 15px 0;
    }
    
    .form-arrange label {
        margin-left: 5px;
        font-size: 13px;
    }
    
    .form-arrange .radio input[type="radio"] {
        margin-left: 5px;
    }
    
    .nav-pills > li.report-store > a {
        color: #990033;
    }
    
    .featured-product {
        margin-bottom: 30px;
        position: relative;
    }
    
    .featured-product img {
        max-width: 100%;
        border: 1px solid #ddd;
        padding: 5px;
        background: #fff;
    }
    
    .featured-product .caption {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
        background: white;
        background: rgba(255, 255, 255, .8);
    }
    
    .caption h6 {
        margin: 5px 0;
        line-height: 1;
    }
    
    .caption .price {
        font-size: 20px;
    }
    
    .caption .price span {
        font-size: 25px;
    }
    /* notifications */
    
    .notification-item {
        border-bottom: 1px dashed #fdb813;
        padding-bottom: 15px;
        margin-bottom: 15px;
        margin-right: 4px;
    }
    
    .notification-item:last-child {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .notification-item .pull-right > .glyphicon {
        font-size: 40px;
    }
    
    .notification-item .glyphicon-exclamation-sign {
        color: #002d40;
    }
    
    .notification-item .glyphicon-ok-sign {
        color: #1abfdf;
    }
    
    .notification-item .glyphicon-alert {
        color: #d80000;
    }
    /* search */
    
    .listing-header h3 .search-term {
        color: #ed1165;
        font-size: inherit;
        display: inline-block;
        margin-right: 10px;
    }
    
    .search-result-count {
        padding: 15px 0 15px 15px;
        float: right;
        font-size: 18px;
    }
    
    .pink {
        color: #ed1165;
    }
    
    .shop-card .profile-img {
        width: 50px;
    }
    
    .shop-card .pie-wrapper {
        font-size: 35px;
    }
    
    .shop-card .pie-wrapper img,
    .shop-card .badges .vault img {
        max-width: 110%;
    }
    
    .shop-card .badges {
        margin-top: 20px;
    }
    
    .shop-card .badges .vault {
        width: 35px;
        height: 35px;
    }
    
    .shop-card .badges .count {
        font-size: 11px;
        line-height: 1;
    }
    
    .terms-links {
        padding: 0;
        margin-top: 10px;
    }
    
    .terms-links a:after {
        content: '|';
        padding-right: 10px;
    }
    
    .terms-links a {
        font-size: 13px;
        font-family: Tahoma;
    }
    
    .terms-links li:last-child a:after {
        content: '';
        padding: 0;
    }
    /* product-details */
    
    .pane-product-details h5 {
        color: black;
        margin: 15px 0;
        line-height: 1.5em;
    }
    
    .rating-xs {
        font-size: 1.5em;
    }
    
    .rating-disabled {
        cursor: default;
    }
    
    .has-rating {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    
    .rate-person {
        color: #42748e;
        margin-right: 10px;
    }
    
    .rate-item blockquote {
        margin-top: 10px;
    }
    
    .product-meta {
        font-family: Tahoma;
        color: #337ab7;
    }
    
    .product-meta .star-rating-rtl {
        margin: 20px 0 10px;
    }
    
    .product-meta .glyphicon {
        font-size: 18px;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    /* off canvas */
    
    .navbar-toggle {
        float: right;
        margin: 0;
    }
    
    .navbar-toggle .icon-bar {
        background: white;
    }
    
    .navmenu-inverse .user {
        padding: 20px 15px 0;
    }
    
    .navmenu-inverse .user .list-img + h6.username {
        color: white;
        max-width: none;
    }
    
    .navmenu-inverse .divider {
        border-top: 1px solid #343434;
        border-bottom: 1px solid #191919;
    }
    
    .navmenu-inverse .list-notifications {
        float: none;
        text-align: center;
    }
    
    .navmenu-inverse .list-notifications li {
        float: none;
        padding: 0 10px;
    }
    
    .navmenu-inverse .list-notifications .glyphicon {
        color: #fdb813;
        font-size: 25px;
    }
    
    .navmenu-inverse .list-notifications .badge {
        background: #1abfdf;
        font-family: 'Tahoma Regular';
        padding: 4px;
        left: 5px;
        z-index: -1;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    
    .navmenu-inverse .list-notifications .glyphicon.glyphicon-heart {
        color: #ed1165;
    }
    
    .navmenu-inverse .navmenu-nav>li>a,
    .navbar-inverse .navbar-offcanvas .navmenu-nav>li>a,
    .navmenu-inverse {
        color: #fff;
    }
    
    .navmenu-nav.sidenav {
        margin-bottom: 0;
    }
    
    .navmenu-inverse .navmenu-nav>.dropdown>a .caret,
    .navbar-inverse .navbar-offcanvas .navmenu-nav>.dropdown>a .caret {
        border-top-color: #fff;
        border-bottom-color: #fff;
    }
    
    .navmenu-inverse .main-nav {
        font-size: 19px;
        font-family: "GESSTwoBold-Bold";
    }
    
    .navmenu-inverse .navmenu-nav.main-nav>.active>a,
    .navbar-inverse .navbar-offcanvas .navmenu-nav.main-nav>.active>a,
    .navmenu-inverse .navmenu-nav.main-nav>.active>a:hover,
    .navbar-inverse .navbar-offcanvas .navmenu-nav.main-nav>.active>a:hover,
    .navmenu-inverse .navmenu-nav.main-nav>.active>a:focus,
    .navbar-inverse .navbar-offcanvas .navmenu-nav.main-nav>.active>a:focus {
        background:none;
        color: #ed1165;
    }
    
    @media screen and (max-width: 767px) {
        .store-header-bg .media h3 {
            font-size: 22px;
        }
        .container-mob {
            max-width: 420px
        }
        .mainnav .logo {
            bottom: 37px
        }
        .mainnav .logo img {
            width: 152px;
        }
        .mainnav .timeline-nav {
            font-size: 18px;
            color: #fff;
        }
        .mainnav .timeline-nav .sorting {
            font-size: 18px;
        }
        .list-notifications {
            float: left;
            margin: 30px 0;
        }
        .main-header {
            height: auto;
        }
        .list-notifications .glyphicon {
            color: black;
            font-size: 30px;
        }
        .product-card {
            height: 475px;
            box-shadow: 0 0 3px #ccc;
            background-image: none;
            margin-bottom: 20px;
        }
        .product-card .main-btn {
            left: 0;
            bottom: 0;
            right: auto;
            width: auto;
            margin: 10px 0 0 0;
            padding: 5px 7px;
        }
        .product-card .price span,
        .shop-card .price span,
        .caption .price span {
            font-size: 1.4em;
        }
        .product-card .back p {
            font-size: 0.9em;
        }
        .product-card .product-details {
            border: none;
            background: none;
            padding: 0;
            height: auto;
        }
        .product-card .front,
        .product-card .back {
            background: #fffbee;
        }
        .store-details .text-center {
            text-align: right;
        }
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            margin: 0 auto;
        }
        /*.product-card .back{
            display: none;
        }*/
        .front .store-details {
            padding-top: 10px;
            border-top: 2px dashed #ff6600;
        }
        .product-card .front .store-img {
            float: right;
            margin-left: 20px;
        }
        .product-card .store-img img {
            max-width: 55px;
            height: auto;
            border: 2px solid white;
            margin: 0;
        }
        .product-card .front .title {
            margin-top: 10px;
        }
        .product-card .store-details .actions div {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }
        .product-card .info-column {
            float: none;
            border: none;
            min-height: 0;
        }
        .has-info-columns {
            margin-bottom: 0;
        }
        .flip-card-link {
            position: absolute;
            left: 20px;
            bottom: 20px;
            float: none;
        }
        .back .badges {
            margin-top: 20px;
        }
        .shop-card .media .pull-right {
            padding-left: 0;
            float: none !important;
        }
        .shop-card .media.media-title .pull-right {
            padding-left: 20px;
            float: right !important;
        }
        .badges {
            text-align: center
        }
        .pie-wrapper,
        .badges.big .pie-wrapper {
            font-size: 35px;
        }
        .badges .vault,
        .badges.big .vault {
            width: 35px;
            height: 35px;
        }
        .badges .vault img,
        .badges.big .vault img .badges .pie-wrapper img,
        .badges.big .pie-wrapper img {
            max-width: 100%;
        }
        .store-header-links {
            padding-right: 0;
        }
        .mobile-filter-buttons button {
            width: 47%;
            margin: 10px 5px;
            max-width: 45.9%;
        }
        .featured-product img {
            padding-bottom: 0;
            border-bottom: 0;
        }
        .caption {
            position: static;
            background: white;
            border: 1px solid #ddd;
            border-top: 0;
        }
        .pagination > li > a.first-links {
            padding: 5px 1px;
        }
        .mainnav ul{
            margin-right: 0;
        }
    }
    
    @media (min-width: 768px) {
        .form-horizontal .control-label {
            text-align: right;
        }
    }
    /* sm */
    
    @media (min-width: 768px) and (max-width: 983px) {
        .navbar-toggle{
            display: block;
        }
        .store-header-bg .badges {
            margin: 0;
            position: absolute;
            left: 70px;
            top: 0;
        }
        .store-header-links {
            padding-right: 0;
        }
        .mainnav ul{
            margin-right: 0;
        }
        .mainnav .timeline-nav {
            font-size: 26px;
            color: #fff;
        }
        .mainnav .timeline-nav .sorting {
            font-size: 18px;
        }
        .mainnav .logo {
            bottom: 37px
        }
        .mainnav .logo img {
            width: 152px;
        }
        .mainnav .timeline-nav {
            font-size: 26px;
            color: #fff;
        }
        .mainnav .timeline-nav .sorting {
            font-size: 18px;
        }
        .list-notifications {
            float: left;
            margin: 30px 0;
        }
        .main-header {
            height: auto;
        }
        .list-notifications .glyphicon {
            color: black;
            font-size: 30px;
        }
        .product-card {
            height: 385px;
        }
        .product-card .product-details {
            height: 305px;
        }
        .product-card .info-column {
            margin-bottom: 0;
            border: 0;
            margin-top: 11px;
        }
        .has-info-columns {
            margin-bottom: 0;
        }
        .product-card .back .store-img img {
            max-width: 55px;
            height: auto;
            border: 2px solid white;
            margin: 0;
        }
        .search-form {
            margin-top: 30px;
        }
        .search-form input[type=text] {
            width: 194px;
        }
        .mainnav .logo {
            bottom: 40px;
            width: 200px;
        }
        .badges {
            text-align: center
        }
    }
    
    @media (min-width: 768px) {
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            margin: 0 auto;
        }
    }
    
    @media (min-width: 768px) and (max-width: 1199px) {
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            margin: 0 auto;
        }
    }
    /* md */
    
    @media (min-width: 984px) and (max-width: 1199px) {
        .navbar-toggle{
            display: none;
        }
        .mainnav ul > li a {
            font-size: 18px;
        }
        .search-form input[type=text] {
            width: 161px;
        }
        .mainnav .logo {
            bottom: 40px;
            width: 200px;
        }
        .col-md-3 .product-box .pie-wrapper {
            font-size: 30px;
        }
        .col-md-3 .product-box .vault {
            width: 30px;
            height: 30px;
        }
        .col-md-3 .product-box .vault img {
            max-width: 15px;
            margin-top: -2px;
            margin-right: -2px;
        }
        .col-md-3 .product-box .count {
            font-size: 10px;
            line-height: 1;
        }
    }
    /* lg */
    
    @media (min-width: 1200px) {}
